<div class="logos">
    <div class="pad">
        <img src="@Url.Content("~/img_png/logo-erasmus.png")">
    </div>
    <div>
        <img src="@Url.Content("~/img_png/magnus.png")">
    </div>
</div>