<div class="userinfo">
    <div class="case">
        <a class="log_out" href="@Url.Action("logout","Cms")">@User.Identity.Name&nbsp;<img src="@Url.Content("~/img_png/exit-to-app.png")"></a>
    </div>
</div>
